body {
  width: 100%;
  height: 100%;
}
html {
  width: 100%;
  height: 100%;
}
.navbar-transparent {
  background-color: transparent;
  background: transparent;
  border-color: transparent;
}

@media (min-width: 767px) {
  .navbar {
    padding: 2rem 0;
    -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  }
  .top-nav-collapse {
    padding: 0;
  }
  .navbar-nav > li > a {
    line-height: 26px;
  }
}

.intro-section {
  height: 100%;
  padding-top: 32rem;
  text-align: center;
  background-image: url(../images/banner.jpg);
  background-repeat:no-repeat;
  background-size: cover;
  color: #fff;
}

.title {
  text-align: center;
  padding-top: 8rem;
  padding-bottom: 3rem;
}

.motto {
  padding-top: 10rem;
}

.about-section {
  background: #fff;
}

.about_content {
  background-image: url(../images/about_us.jpg);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 55%;
  padding-top: 10%;
  padding-bottom: 20%;
  padding-left: 50%;
  line-height: 180%;
}

.product-section {
  background-image: url(../images/bg_product.jpg);
  padding-bottom: 3rem;
}
.product-row {
  padding: 3rem;
}
.product-image img {
  width: 100%;
}
.product-content {
  height: 50rem;
  padding-left: 10rem;
  padding-right: 10rem;
  padding-top: 10rem;
  box-shadow: 3px 3px 50px lightgray;
  background: #fff;
}

.equipment-section {
  background: #fff;
}
#equipment {
  background-image: url(../images/equipment.jpg);  
  background-size: cover;
  background-repeat:no-repeat;
  color: white;
  text-align: center;
  padding-bottom: 6rem;
}
#equipment p {
  padding-top: 1.5rem;
}
#equipment h3 {
  padding-bottom: 1.5rem;
}
.equip_side {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: black;
  margin-top: 5rem;
  margin-bottom: 5rem;
  background-color: white;
}
.equip_mid {
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-color: #3e5e94;
}


.development-section {
  background: #fff;
}
.development-front {
  box-shadow: 3px 3px 50px lightgray;
  padding-bottom: 1rem;
}
.development-back {
  box-shadow: inset 3px 3px 50px lightgray;
  padding-bottom: 1rem;
}
.development-mid {
  margin-right: -6rem;
  margin-left: -6rem;
  text-align: center;
  font-size: 3rem;
  color: #3e5e94;
}
.development-left {
  margin-left: 6rem;
  text-align: right;
  font-size: 2rem;
  color: #3e5e94;
}
.development-right {
  text-align: left;
  font-size: 2rem;
  color: #3e5e94;
}

.contact-section {
  background: #fff;
}

footer {
  background-color: #3e5e94;
  padding-top: 3rem;
}

footer h1 {
  color: white;
}

footer h1 small {
  color: white;
}

footer h3 {
  color: white;
}

footer p {
  color: white;
}

#map-container{
  height: 40rem;
  margin-top: 3rem;
  margin-bottom: 6rem;
}

p{
    line-height: 2.8rem;
    font-weight: 500;
    font-size: 1.8rem;
    text-align: justify;
}

.back_to_top{
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.beian{
  padding-top: 1rem;
}

.beian p{
  color: darkgray;
  font-size: 1rem;
  text-align: center;
}
